div{
	color: white;
	height: 50px;
	width: 50px;
}
.red{
	background-color: red;
	position: fixed;
	left: 50px;
	top: 50px;

}
.green{
	background-color: green;
	position: fixed;
	left: 0;
	top: 0;
}
.blue{
	background-color: blue;
	position: fixed;
	left: 50px;
	top: 0;
}
.black
{
	background-color: black;
	position: fixed;
	left: 0;
	top: 50px;
}